.videoContainer {
  display: flex;
  flex-wrap: wrap;

}



.videoDiv {
  text-align: center;
  justify-content: center;
  margin: 1% auto 1% auto;
  padding:1%;
  width: 20%;
  height: 200px;
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  font-size: .7em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

}

.studentWelcomeVideoTitle {
  margin-left: 5%;
}

.videoDiv:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.player-wrapper {
  width: 70%

}
.studentWelcomeVideoContainer {
  margin: 1em 0 0 0;
  border-bottom: solid;
  padding-bottom: 1em;

}

li {
  list-style-type: none;
}

/* .react-player {
  position: absolute;
  top: 0;
  left: 0;
} */
