.MainLoginScreenContainer {
  display: flex;
  width: 100%;
}

.teacherLoginContainer {
  width: 50%;
  text-align: center;
}

.studentLoginContainer {
  width: 50%;
  text-align: center;
}


.loginPageLink {
  text-decoration: none;
  color: rgb(124,117,114)
}

.loginPageLink:hover {
  color: hotpink;
}
